export TOWER_GUID="532a"
export OSP_GUID="fdf7"
export PRIVATE_KEY="/root/.ssh/mykey.pem"
export OPENTLC_LOGIN="hgunasin-au1.ibm.com"
export OPENTLC_PASSWORD="CRED"
export GITHUB_REPO="https//github.com/hgunasin/ansible_advance_homework"
export JQ_REPO_BASE="http://www.opentlc.com/download/ansible_bootcamp"
export REGION="us-east-1"
export RH_EMAIL="hgunasin@au1.ibm.com"
